/*Universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Element selectors*/
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*button attributes*/
ul,
li {
    padding-top: 15px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-left: 25px;
    float: right;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*header attributes*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*body attributes*/
p {
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*footer attributes*/
h4 {
    font-size: 20px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Class selectors*/

/*header attributes*/
.seo {
    color: #d9dcd6;
}

/*main image attributes*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

.main-image {
    height: 800px;
    width: 100%;
}

/*center row attributes*/
.article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.figure {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*center row image attributes*/
.block-2 {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*side column attributes*/
.aside {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    clear: both;
    height: 100%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
